#date {
width:150px;
border:1px solid #000;
padding-right:25px;
cursor: pointer;
}

.dateRangeVisible #date {
border:5px solid #000;
}

div.calendarWrap {
position:relative;
}

div.calendar {
border:2px solid #e6e6e6;
overflow:auto;
width:600px;
background:#f0f0f0;
position:absolute;
line-height:1em;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-webkit-user-select:none;
-khtml-user-select:none;
user-select:none;
}

div.calendar div.nav {
height:24px;
}

div.calendar div.nav div {
cursor:pointer;
background:#e6e6e6;
width:25px;
height:25px;
text-align:center;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
font-weight:700;
}

div.calendar div.nav div.next {
position:absolute;
right:0;
top:0;
}

div.calendar div.nav div:hover {
background:#d6d6d6;
}

div.calendar table {
float:left;
margin-right:25px;
font-family:verdana;
font-size:80%;
position:relative;
}

div.calendar table td {
text-align:center;
cursor:pointer;
border:1px solid transparent;
padding:3px;
}

div.calendar td.selected {
border:1px dotted #222;
background-color: blue;
color: #fff;
}

div.calendar td.highlight {
background:#ccc;
}

div.calendar div.sidebar {
position:absolute;
right:0;
height: 150px;
}

div.calendar div.sidebar fieldset {
  width: 170px;
  border: 0;
}

div.calendar .sidebar select {
  width: 100%;
}
div.calendar .inputs input {
width:77px;
font-size:10px;
}
div.calendar .buttons {
  position: absolute;
  bottom: 0;
}
div.calendar .buttons button {
  width: 80px;
}
div.calendar .buttons .cancel {
  margin-right: 10px;
}
div.calendar .buttons .apply {
  background-color: green;
  color: white;
}
